document.getElementById("cantidadUsuarios").innerHTML = "<%= @proceso.usuarios.size %>";
$("#myModalCompartirProceso").foundation ("reveal", "close");
$("#listaUsuarios").append(' <img class="avatar " src="/img/user.png">   <span class="posicionNombreUsuario"><%= @control_acceso.usuario.nombre %></span>')
