document.getElementById("cantidadUsuarios").innerHTML = "<%= @proceso.usuarios.size %>";
$("#myModalCompartirProceso").foundation ("reveal", "close");
$("#listaUsuarios").append(' <img class="avatar" height="40" src="/img/user_blue.png" width="40">  <span class="posicionNombreUsuario"><%= @control_acceso.usuario.username %></span>')
