<p id="notice"><%= notice %></p>

<p>
  <b>Controlacceso:</b>
  <%= @control_acceso.controlAcceso_id %>
</p>


<%= link_to 'Edit', edit_control_acceso_path(@control_acceso) %> |
<%= link_to 'Back', control_accesos_path %>
