<!-- Navigation -->
 

 
  <!-- End Top Bar -->
 
  <!-- Header -->
  <div class="row">
    <div class="large-12 columns">
      <img src="/img/fondos/businesspeople16002.jpg" class="bannerHome"><br><br>
      <div class="contentLanding">
            <h3 style="color: #2284a1;">
              <i class="general foundicon-checkmark" style="font-size:20px"></i> Procesos judicales
            </h3><br>
            <h3 style="color: #2284a1;">
              <i class="general foundicon-globe" style="font-size:20px"></i> Organiza
            </h3>
            <span>Organiza y clasifica todo tus proceso judiciales</span>
            <h3 style="color: #2284a1;">
              <i class="general foundicon-laptop" style="font-size:20px"></i> Controla
            </h3>
            <span>Controla las actividades de los procesos</span>
            <h3 style="color: #2284a1;">
              <i class="general foundicon-calendar" style="font-size:20px"></i> Gestiona
            </h3>
           <span>Gestiona tu agenda personal y la de tus procesos</span>
      </div>
    </div>
  </div>
 
  <!-- End Header -->
 
 
  <div class="row">
 
    <div class="large-12 columns">
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
      <%= render 'form' %>

          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
      
    </div>
 
  </div>
 
  <!-- Footer -->
 
 



