<body>

    <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">

       
          <header style="margin-bottom: 25px !important;">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                  
                    <div class="small-3   columns left">
                        <h1>Reportes</h1>
                    </div>
                    <div class="small-4 small-offset-5  columns left">
                        <a id="botongeneral" class="alinearbotones tituloProceso label round" onclick="activarreportegeneral();">General</a>
                        <a id="botongrafico" class=" alinearbotones tituloProceso label round desactivado" onclick="activarreportegraficos();">Gráficos</a>
                        <a id="botonproceso" class=" alinearbotones tituloProceso label round desactivado" onclick="activarreporteproceso();">Por Proceso</a>
                    </div>
                    <br /><br />
                    <hr  class="lineaHorizontalAzul"> 
                </div>
              </div>
            </div>
          </div>
        </header>
        
        <div class="sheet_body">
            <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>
            
     <!-- Primera parte del reporte -->
     <%= render 'reportes/reporteGeneral' %>

	 <!-- Segunda parte del reporte -->
     <%= render 'reportes/reporteGrafico' %>

	 <!-- Tercera parte del reporte -->
     <%= render 'reportes/reportePorProceso' %>

        </div>
      </div>
    </div>
  </div>
   <script type="text/javascript">
	 activarreportegeneral();
   </script>
</body>