<p id="notice"><%= notice %></p>

<p>
  <b>Estado:</b>
  <%= @estado_actividad.estado %>
</p>


<%= link_to 'Edit', edit_estado_actividad_path(@estado_actividad) %> |
<%= link_to 'Back', estado_actividads_path %>
