document.getElementById("noticeMsg").innerHTML = "Has agregado un nuevo colega a tu grupo.<a href='#' class='close'>&times;</a>";
$("#noticeMsg").show();
$('#panelinvitaciones').html('<%= j render(@invitacions) %>');