<% if @event.errors.count == 0 %>
  document.getElementById("noticeMsg").innerHTML = "Se creo correctamente el evento <a href='#' class='close'>&times;</a>";
  $("#noticeMsg").toggle( "fade" );
  $('#calendar').fullCalendar( 'refetchEvents' );
  $("#myModalNuevoEvento").foundation ("reveal", "close");

<% else %>
  $('#formCrearNuevoEvento').remove();
  $('#formularioEvento').after('<%= j render("form") %>');
  $('#formularioEvento').toggle( "fade" );
  $("#myModalNuevoEvento").foundation ("reveal", "open");
<% end %>
