<body>

    <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">

       
          <header style="margin-bottom: 25px !important;">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                  
                    <div class="small-3   columns left">
                        <button class="button radius" onclick="newEvent(null)">Nuevo Evento</button>
                    </div>
                    <div class="small-2 small-offset-7  columns left">
                        <div class="cuadradoAzul"></div>Eventos
                        <br />
                        <div class="cuadradoNaranja"></div> Alertas
                    </div>
                    <br /><br />
                    <hr  class="lineaHorizontalAzul"> 
                </div>
              </div>
            </div>
          </div>


        </header>
        
        <div class="sheet_body">
            <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>
            
            <div id="calendar">
            </div>
          
          
        </div>
      </div>
    </div>
  </div>
 
</body>


<div id="myModalNuevoEvento" class="reveal-modal medium modalAspen modaleventos" style="">
     <%= render 'form' %>
     <div id="formularioEvento"></div>
  </div>

  <script type="text/javascript">
    $('#agendatopbar').addClass("active");
  </script>





