document.getElementById("noticeMsg").innerHTML = "Se creo correctamente el evento <a href='#' class='close'>&times;</a>";
  $("#noticeMsg").toggle( "fade" );
  $('#calendar').fullCalendar( 'refetchEvents' );
  $("#myModalNuevoEvento").foundation ("reveal", "close");