document.getElementById("noticeMsg").innerHTML = "Se ha eliminado la actividad, <%= @actividad.nombre %>  <a href='#'' class='close'>&times;</a>";
$("#noticeMsg").toggle( "fade" );
$('#actividad_<%= @actividad.id %>').remove()