<% if @actividad.errors.count == 0 %>
	document.getElementById("noticeMsg").innerHTML = "Se modifico correctamente la actividad, <%= @actividad.nombre %> <a href='#'' class='close'>&times;</a>";
	$("#noticeMsg").toggle( "fade" );
	$('#formActividad').remove();
	$('#actividades').show();
	$('#new_actividad_link').show();
	$('#listar_actividades_link').hide();
	$('#listaFiltros').show();
	$('#noticeMsgEliminar').remove();
	$('#actividad_<%= @actividad.id %>').remove()
	$('#actividades').append('<%= j render("actividad", :actividad => @actividad) %>');
	document.getElementById("tituloActividad").innerHTML = "Actividades";
	
<% else %>
	$('#formActividad').remove();
	$('#formularioActividades').after('<%= j render("form") %>');
	$('#formActividad').toggle( "fade" );
	$('#noticeMsgEliminar').remove();
	
	<% if @displaycamposOpcionalesActividad=="true" %>
		eventoCamposOpcionalesActividad();
	<% end %>
<% end %>

