<p id="notice"><%= notice %></p>

<p>
  <b>Rol:</b>
  <%= @rol_participante.rol %>
</p>


<%= link_to 'Edit', edit_rol_participante_path(@rol_participante) %> |
<%= link_to 'Back', rol_participantes_path %>
