<%= form_for @control_acceso, :url => { :action => "compartirProceso" }, :remote => true, :html => { :class => "custom",:id => "formCompartirProceso"}  do |f| %>
  <div class="row"> 
          
          <div class="small-6 columns field">
            <%= f.select :usuario_id, [["Selecciona un Usuario", 0]] + @usuarios.map {|r| [r.username,r.id] }, { :disabled => ["Selecciona un Usuario", 0] } %>
            <%= hidden_field_tag :proceso_id, @proceso.id %>
          </div>
          <div class="small-4 small-offset-1 columns field">
             <%= f.submit :'Compartir Proceso' , :class => " button radius" %>
          </div>
  </div>
<% end %> 