<div class="alert-panel secondary" data-alert>
      <div class="alert-panel-title">
        Nuevo Tipo de Proceso
        <a href="#" class="alert-panel close-reveal-modal" onclick="$('#myModalTipoProceso').foundation ('reveal', 'close')">&times;</a>
      </div>

      <%= form_for(@tipo_proceso, :url => { :action => "createTipoProceso" }, :remote => true,  :html => { :class => "custom",:id => "formCrearTipoProceso"} ) do |f| %>
	      <div class="alert-panel-message" >
	      	Puedes crear un nuevo tipo de proceso y asociarlo al proceso a iniciar.
		        <div class="row"> 
				  <div class="small-10 columns field">
		            <%= f.text_field :tipo, :placeholder => "Nuevo Tipo de Proceso" %>
		            <%= hidden_field_tag :usuario_id, current_user.id %>
			          </div>
			         
			  	</div>
	  		</div>
      <div class="alert-panel-action">
        	<a href="#" class="small button radius secondary" onclick="$('#myModalTipoProceso').foundation ('reveal', 'close')">Cerrar</a>
		    <%= f.submit :'Crear Tipo de Proceso' , :class => " button radius small"  %>
      </div>
      <% end %>
       
</div>