
<body>

<div id="workspace" class="workspace">
		<div class="container stack_container" style="width: 960px;">
			<div class="panel sheet project active blank_slate fondoGris">

				<header>
				<ul class="breadcrumbs">
					<li><%= link_to 'Procesos', procesos_path %></li>
					<li><a href="#">Nuevo Proceso</a></li>
				</ul>
				</header>
				<div id="cambiodiv"></div>
				<div class="panel sheet topics fondoGris"
					style="margin-left: 20px; margin-bottom: -20px;"
					data-behavior=" prevent_reload_when_stacked">

					<header class="has_buttons">
					<div data-behavior="edit_project_header expandable">
						<div class="collapsed_content ">
							<div class="row">
								<div class="small-12 columns">
									<div class="small-9 columns">
										<h1>Crear un nuevo proceso</h1>
									</div>
									<div id="actualizo"></div>
								<div class="small-3 small-3 columns left">
			                       
			                        
			                    </div>

								</div>
							</div>
						</div>
					</div>

					</header>

				<div class="sheet_body ">
						<article class="participants new expanded">
									<%= render 'form' %>
									<div id="formularioProcesos"></div>
						</article>

				</div>
			</div>
				
			</div>
		</div>
	</div>
</body>

  <div id="myModalTipoProceso" class="reveal-modal tiny">
      
      	<%= render 'formTipoProceso' %>
     
   </div>