
<tr id="usuario_<%= usuario.id %>" class="topic message_10997527 fondoGris" >
<td class="who">
  
	<%= usuario.username %>

  
      
   <%= link_to "Eliminar", usuario, :class => "textRojolinks inlineBlock",  method: :delete, data: { confirm: 'Estas Seguro de eliminar este usuario?' } , :remote => true %>

<td class="when">
   
</td>
</tr>