<body>



  <div class="row">
    <div class="large-12 columns ">
      <img src="/img/fondos/homeizq.jpg" class="bannerHome">
      <div class="content">
            <h3 style="color: #2284a1;"><i class="general foundicon-tools" style="font-size:20px"></i>Aspen te ayuda</h3>
            <h5> Gestionar fácilmente cualquier tipo de proceso judicial</h5>
            <a data-reveal-id="modalsignup" class="large radius right button">Demo Gratuito por 30 dias</a>
          </div>
      <hr>

    </div>
  </div>

<div class="row">
    <div class="large-12 columns">
 
       <div class="row">
         <div class="large-12 columns">
            <h1 class="show-for-small tituloPagina" >Funcioanlidades</h1>
            <h1 class="hide-for-small tituloPagina" >Todo tu despacho en la nube</h1>
            <div style="text-align:center;"><span class="subtitulo" >Centraliza</span> todos tus procesos judiciales en un mismo sitio, permitiendote acceder a ellos desde cualquier dispositivo.  </div>
            <hr style="margin-bottom: 35px;">
          </div>
        </div>

      <!-- Header Content -->
 
        <div class="row">
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:20px"></i>Gestiona<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i> Gestiona los procesos<hr/></h4>
              <h5 class="subheader"> Puedes administrar todos los procesos que desees, definiendo claramente un grupo de trabajo con un número indefinido de colaboradores.</h5>
              <br>
             
              <h3 class="show-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px"></i>Comparte<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px !important"></i> Comparte los procesos<hr/></h4>

              <h5 class="subheader"> Aspen permite que cada que procesos pueden ser compartidos con todos los colegas y colaboradores de tu despacho para tener un trabajo colaborativo.</h5>

            </div>
          </div>

        </div>
      
      <hr class="margenesLinea"/>
      
         <div class="row">
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h4>
              <h5 class="subheader">Clasifica los procesos favoritos o prioritarios, define el estado actual del proceso y de cada una de sus actividades.
              </h5>
               
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px"></i>Historial de los procesos<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px !important"></i> Historial de los procesos<hr/></h4>
              <h5 class="subheader"> Obten un historial completo del comportamiento del proceso y sus colaborades a travez el tiempo.</h5>

            </div>
          </div>
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      </div>
      
      <hr class="margenesLinea"/>

          <div class="row">
             <div class="large-6 columns">
               <img src="/img/fondos/mac1.png" ><br>
             </div>
      
         <div class="large-6 columns"> 
            <h3 class="show-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h4>
              <h5 class="subheader">Obten diferentes tipos de reportes sobre el estado actual de tus procesos, de tus colaboradores y de tu despacho en general.</h5>
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px"></i>Supervisa y Controla<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px !important"></i>Supervisa y Controla<hr/></h4>
              <h5 class="subheader"> Observa fácilmente las tareas y activiades pendientes de cada proceso dentro del sistema.</h5>
             
            </div>
          </div>
        </div>
         
        </div>
 
      <!-- End Header Content -->
        


 
    </div>
  </div>
  
  <hr class="margenesLinea"/>

   <!-- Thumbnails -->
 
       <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Además..puedes adicionar documentos</h5>
                <h6 class="subheader"><i class="general foundicon-page" style="font-size:50px !important"></i> Adjunta y soporta tus procesos con los todos los documentos digitales. Obten un control sobre los archivos</h6>
                
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Tambien puedes ... programar alertas</h5>
                <h6 class="subheader"><i class="general foundicon-clock" style="font-size:50px !important"></i> Programa alertas y fechas importantes de cada proceso, evita retrasos y vencimiento de terminos </h6>
               
                </div>
              </div>
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Además..puedes adicionar documentos</h5>
                <h6 class="subheader">Adjunta y soporta tus procesos con los todos los documentos digitales.</h6>
                
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Cuenta con Agenda</h5>
                <h6 class="subheader"><i class="general foundicon-calendar" style="font-size:50px !important"></i> La agenda de Aspen te ayuda a llevar los eventos relevates de los procesos y las citas de tus clientes</h6>
               
                </div>
              </div>
          </div>
 
      <!-- End Thumbnails -->

   <hr class="margenesLinea"/>

<!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel ">
        <h4>Cuenta gratuita por 30 dias!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Obten un demo gratuito por un periodo de 30 dias, ten acceso a todas las funcionalidades.</p>
          </div>
          <div class="large-3 columns">
            <a data-reveal-id="modalsignup" class="radius button right">Registrate ahora</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>



</body>

 <div id="modalLogin" class="reveal-modal tiny">
  <%= render 'formUsuarioSession' %>
 </div>

  <div id="modalsignup" class="reveal-modal small">
  <%= render 'formNuevoDespacho' %>
 </div>


