<body>

  <!-- First Band (Image) -->

     

  <div class="row">
    <div class="large-12 columns ">

       <% if notice  %>
        <div id="noticeMsgEliminar" data-alert class="alert-box radius" style="text"><%= notice%></div> 
      <% end %>

      <img src="/img/fondos/homeizq.jpg" class="bannerHome">
      <div class="content">
            <h3 style="color: #2284a1;"><i class="general foundicon-checkmark" style="font-size:20px"></i>Procesos judicales</h3>
            <h5> Controla todos tus procesos judiciales en la nube.</h5>
            <a data-reveal-id="modalsignup" class="large radius right button">Demo Gratuito por 30 dias</a>
          </div>
      <hr>

    </div>
  </div>
 
  <div class="row" style="margin-top: 35px;">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->
        <div class="large-3 small-6 columns">
          <i class="general foundicon-cloud logosHome"></i>
          <h6 class="panel ">Su despacho en la nube con acceso desde cualquier dispositivo movil</h6>
        </div>

        <div class="large-3 small-6 columns">
          <i class="general foundicon-calendar logosHome"></i>
          <h6 class="panel">Organiza tu Agenda y asigna tareas a tu equipo de trabajo</h6>
        </div>

        <div class="large-3 small-6 columns">
          <i class="general foundicon-globe logosHome"></i>
          <h6 class="panel">Comparte procesos con otros colegas y obten un maximo de colaboración</h6>
        </div>

        <div class="large-3 small-6 columns">
          <i class="general foundicon-graph logosHome"></i>
          <h6 class="panel">Obten reportes de seguimiento diarios y mensuales de cada proceso</h6>
        </div>
        

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>

<!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Cuenta gratuita por 30 dias!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Obten un demo gratuito por un periodo de 30 dias, ten acceso a todas las funcionalidades.</p>
          </div>
          <div class="large-3 columns">
            <a data-reveal-id="modalsignup" class="radius button right">Demo Gratuito</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

<hr>
<div class="footer-azul">
   <%= render 'formSoftwareAbogados' %>
</div>

</body>

  <div id="modalLogin" class="reveal-modal small modalAspen">
   <div id="formularioSession"></div>
   <%= render 'formUsuarioSession' %>
  </div>

  <div id="modalsignup" class="reveal-modal small modalAspen">
    <div id="formularioUsuarios"></div>
    <%= render 'formNuevoDespacho' %>
  </div>

