<body>


	<h1 class="field" >
		Registrate e inicia tu prueba gratis
	</h1>
	<%= render 'formNuevoDespacho' %>
  
</body>


 <div id="modalLogin" class="reveal-modal tiny">
      <div class="sheet_body ">
          <article class="participants new expanded">
			<div class="expanded_content bubble fondoGris">
              <h1>Ingrese a su cuenta</h1>
              <hr/>
              
              
              <%= render 'formUsuarioSession' %>
                
              <a class="close-reveal-modal">&#215;</a>
                      
             </div>
         </article>
      </div>
    </div>
