<body>



  <div class="row">
    <div class="large-12 columns ">
      <img src="/img/fondos/precios1.jpg" class="bannerHome">
      <div class="contentLeft">
            <h3 style="color: #2284a1;">Planes y Precios</h3>
            <h5>Usa nuestro Demo gratuido por 30 dias</h5>
             <%= link_to 'Demo Gratuito', new_abogado_registration_path , :class => 'medium radius right button'%>
          </div>
      <hr>

    </div>
  </div>

<div class="row">
    
    <div class="large-6 columns">
      <ul class="pricing-table">
        <li class="title">Demo Gratuito</li>
        <li class="price">1 Mes Gratuito</li>
        <li class="description">Disfruta de todas las funcionalidades de la plataforma sin costo alguno por un periodo de 30 dias</li>
        <li class="bullet-item">Unicamete 1 usuario colaborador </li>
        <li class="bullet-item">Máximo 15 procesos</li>
        <li class="bullet-item">500MB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Prueba Gratuita</a></li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul class="pricing-table">
        <li class="title">Plus</li>
        <li class="price">$40 / Mes </li>
        <li class="description">Acceso completo a las funcionalidades existentes del sistema y sus actualizaciones futuras </li>
        <li class="bullet-item">Usuarios coloboradores ilimitados</li>
        <li class="bullet-item">Procesos ilimitados</li>
        <li class="bullet-item">5GB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Comprar Ahora</a></li>
      </ul>
    </div>
  </div>
<hr>
<div class="footer-azul">
   <%= render 'formSoftwareAbogados' %>
</div>
</body>


  <div id="modalLogin" class="reveal-modal small modalAspen">
   <div id="formularioSession"></div>
   <%= render 'formUsuarioSession' %>
  </div>

  <div id="modalsignup" class="reveal-modal small modalAspen">
    <div id="formularioUsuarios"></div>
    <%= render 'formNuevoDespacho' %>
  </div>
