<body>



  

<div class="row">
    
    <div class="large-12 columns">
            <h1 class="show-for-small tituloPagina" >Planes y precios</h1>
            <h1 class="hide-for-small tituloPagina" style="font-weight: 900;font-size: 40px;" >Planes y precios</h1>
            <div style="text-align:center;"><span class="subtitulo" >Inica tu cuenta gratuita</span> Ccn todas las funcionalidades ofrecidas por nuestro sistema.  </div>
            <hr style="margin-bottom: 35px;">
    </div>
    


    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="price fondoGris">Gratis</li>
        <li class="title fondoGris">$0</li>
        <li class="price fondoGris">1 Mes Gratuito</li>
      
        <li class="bullet-item">Unicamete 1 usuario colaborador </li>
        <li class="bullet-item">Máximo 15 procesos</li>
        <li class="bullet-item">500MB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Prueba Gratuita</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul class="pricing-table">
         <li class="price fondoNaranja">Basico</li>
        <li class="title fondoNaranja">$20</li>
        <li class="price fondoNaranja">por mes</li>
        
        <li class="bullet-item">Usuarios coloboradores ilimitados</li>
        <li class="bullet-item">Procesos ilimitados</li>
        <li class="bullet-item">5GB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Contactar a aspen.abogados@gmail.com</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul class="pricing-table">
         <li class="price fondoAzul">Pro</li>
        <li class="title fondoAzul">$30</li>
        <li class="price fondoAzul">por mes</li>
       
        <li class="bullet-item">Usuarios coloboradores ilimitados</li>
        <li class="bullet-item">Procesos ilimitados</li>
        <li class="bullet-item">5GB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Contactar a aspen.abogados@gmail.com</a></li>
      </ul>
    </div>
  </div>
<hr>
<div class="footer-azul">
   <%= render 'formSoftwareAbogados' %>
</div>
</body>


  <div id="modalLogin" class="reveal-modal small modalAspen">
   <div id="formularioSession"></div>
   <%= render 'formUsuarioSession' %>
  </div>

  <div id="modalsignup" class="reveal-modal small modalAspen">
    <div id="formularioUsuarios"></div>
    <%= render 'formNuevoDespacho' %>
  </div>
