<body>



  <div class="row">
    <div class="large-12 columns ">
      <img src="/img/fondos/homeizq.jpg" class="bannerHome">
      <div class="content">
            <h3 style="color: #2284a1;"><i class="general foundicon-tools" style="font-size:20px"></i>Planes y Precios</h3>
            <h5>Usa nuestro Demo gratuido por 30 dias</h5>
            <a data-reveal-id="modalsignup" class="large radius right button">Demo Gratuito</a>
          </div>
      <hr>

    </div>
  </div>

<div class="row">
    
    <div class="large-4 large-offset-2 small-4 small-offset-2 columns">
      <ul class="pricing-table">
        <li class="title">Demo Gratuito</li>
        <li class="price">$0 / 1 Mes Gratuito</li>
        <li class="description">Disfruta de todas las funcionalidades de la plataforma sin costo alguno por un periodo de 30 dias</li>
        <li class="bullet-item">1 Usuario</li>
        <li class="bullet-item">Módulo de Procesos</li>
        <li class="bullet-item">Envio </li>
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>

    <div class="large-4 small-4 columns">
      <ul class="pricing-table">
        <li class="title">Estandar</li>
        <li class="price">$99.99</li>
        <li class="description">Ten acceso completo </li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>



  </div>

</body>

 <div id="modalLogin" class="reveal-modal tiny">
  <%= render 'formUsuarioSession' %>
 </div>

  <div id="modalsignup" class="reveal-modal small">
  <%= render 'formNuevoDespacho' %>
 </div>


