<body>


<div class="row">
    <div class="large-12 columns">
 
       <div class="row">
         <div class="large-12 small-6 columns">
            <h1 class="tituloPagina" >Politicas de Privacidad</h1>
            <h6>
              Aspen se compromete a asegurar la privacidad de la información personal obtenida a tráves de sus servicios en linea. Le sugerimos leer la normativa descrita a continuación, para entender el trátamiento de su información personal.
            </h6>
            <hr style="margin-bottom: 35px;">
          </div>
        </div>

      <!-- Header Content -->
 
        <div class="row">
         <div class="large-12 small-6 columns">
             <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Qué tipo de Información personal se obtiene?<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Qué tipo de Información personal se obtiene?<hr/></h4>
              <h6 class="subheader"> 
               En Aspen recolectamos información de diferentes paginas web alojadas en nuestro sitio; Home, Landing Pages, Twitter, Facebook. Estas paginas se sujetan a las normas de seguridad y privacidad descritas en este documento.
                La información básica que se solicita en los formularios del sitio web son:
                Nombre (s) y Apellidos.
                Datos de contacto (Correo electrónico, teléfono, celular).
                Datos personales.
             <br>
                Esta información que se solicita nos permite contactar a los clientes oportunamente para ofrecer nuestro servicio. Los usuarios pueden ser contactados por teléfono o por correo electrónico con previo consentimiento del mismo.
              </h6>
             
            </div>
          </div>
        </div>

        <div class="row">
         <div class="large-12 small-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Cómo protegemos la información?<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Cómo protegemos la información?<hr/></h4>
              <h6 class="subheader"> 
              La recolección de datos realizada a tráves del formulario dispuesto en las páginas web de aspen, se realiza unicamente con fines informativos y notificacion. ASPEN es responsable de manejo de los datos diligenciados, estos seran utilizados de manera confidencial y unicamente se utilizaran para uso interno.
              <br>
              ASPEN utilizara la base de datos recolectada, para ofrecer los servicios de software de abogados en linea o en la nube, planes financieros y promociones. 
              El Usuario es libre de suministrar la informacion requerida en el formulario de recolección de datos dispuesto en la página web de ASPEN o sus landing pages.
              <br>
              Para poder enviar la información requerida en el formulario de recolección de datos, el usuario debera proporcionar sus datos personales completos y veridicos.
               <br>
              Una vez leidas y aceptadas las politicas de privacidad y de protección de datos, la información suministrada por el usuario será enviada a una base de datos.
              El Usuario puede ejercitar su derecho de acceso, rectificación, cancelación y oposición a los datos suministrados.
              El Usuario al aceptar las politicas de privacidad y protección de datos, autoriza a ser contactado telefónicamente o a tráves de la direccion diligenciada para envio de informacion comercial y/o aquella que ASPEN considere de importancia para sus usuarios.
              Si el Usuario desea no hacer parte de esta base de datos o desea rectificar y/o actualizar algun dato diligenciado, debera enviar un correo electronico a aspen.abogados@gmail.com o sebastiancasti@gmail.com
              </h6>
             
            </div>
          </div>
        </div>

          <div class="row">
         <div class="large-12 small-6 columns">
             <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Qué son los Cookies y cómo se utilizan?<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>
                Qué son los Cookies y como se utilizan?<hr/></h4>
             
                
                 <h6 class="subheader">
                 Los Cookies son pequeñas piezas de informacion que son enviadas por el sitio Web a su navegador. Las Cookies, se almacenan en el disco duro de su equipo y se utilizan para determinar sus preferencias cuando se conecta a los servicio de nuestro portal, asi como para rastrear determinados comportamientos o actividades llevadas acabo por usted dentro de nuestra pagina Web.
                 <br>
                  Tambien nos permiten reconocerlo al momento de ingresar a nuestro sitio Web, detectar el ancho de banda que ha seleccionado para ingresar al home page de nuestra pagina Web y saber, que informacion es aconsejable destacar, calcular el tamaño de audiencia y medir algunos parametros de trafico.
                  </h6>
                  
                
             </div>
          </div>
        </div>

        <div class="row">
         <div class="large-12 small-6 columns">
             <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Confidencialidad de la Informacion<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Confidencialidad de la Informacion<hr/></h4>
              <h6 class="subheader"> 
              Cuando se encuentre en nuestro sitio Web, usted compartirá su información con ASPEN, salvo que se especifique lo contrario. Una vez se encuentre registrado en nuestra web, ASPEN no venderá o compartirá la información personal de los usuarios. Sin perjuicio de ello, el usuario es consiente que ASPEN transfiere total o parcialmente la informacion personal a cualquiera de las sociedades controlada y vinculadas con ASPEN en el momento que se estime pertinente. En ASPEN haremos todo lo que este a nuestro alcance para proteger la privacidad de la informacion. Solo se podra difundir informacion en virtud de ordenes judiciales o regulaciones legales. Si ese es el caso nos vemos obligados a revelar informacion a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta informacion, ASPEN no respondera por la informacion robada.
                   <br>
                    No asumimos ninguna obligacion de mantener confidencial cualquier otra informacion que el usuario proporcione a traves de boletines y platicas en linea (chats).
                    Se debe aclarar que NO se vende, regala, facilita ni alquila la informacion del usuario a ningun tercero. Si el usuario No desea que sus datos sean compartidos, puede decidir NO utilizar un servicio determinado o NO participar en algunas promociones o concursos.
              </h6>
             
            </div>
          </div>
        </div>

      
    </div>
</div>
 
      <!-- End Header Content -->
        


 
   
  
  <hr class="margenesLinea"/>

   <!-- Thumbnails -->
 
       

<hr>
<div class="footer-azul">
   <%= render 'formSoftwareAbogados' %>
</div>

</body>


  <div id="modalLogin" class="reveal-modal small modalAspen">
   <div id="formularioSession"></div>
   <%= render 'formUsuarioSession' %>
  </div>

  <div id="modalsignup" class="reveal-modal small modalAspen">
    <div id="formularioUsuarios"></div>
    <%= render 'formNuevoDespacho' %>
  </div>
