<body>


<div class="row">
    <div class="large-12 columns">
 
       <div class="row">
         <div class="large-12 small-6 columns">
            <h1 class="tituloPagina" >Terminos y Condiciones</h1>
            <hr style="margin-bottom: 35px;">
          </div>
        </div>

      <!-- Header Content -->
 
        <div class="row">
         <div class="large-12  small-6 columns">
             <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Ámbito<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Ámbito<hr/></h4>
              <h6 class="subheader"> 
                Aspen pone a disposición de sus Clientes el acceso a una serie de recursos y servicios, de manera gratuita y paga en ciertos modulos del sistema. Aplicaciones de gestión, documental, organizacional, mensajeria, copias de seguridad en línea. Todos los Servicios ofertados por Aspen se regirán por las Condiciones de Contratación aquí recogidas y por las Condiciones Particulares que en su caso se apliquen a cada uno de los Servicios.
              </h6>
             
            </div>
          </div>
        </div>

        <div class="row">
         <div class="large-12 small-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Contratación<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Contratación<hr/></h4>
              <h6 class="subheader"> 
               Aspen se reserva el derecho de aceptar o rechazar cualquier Contratación, al momento de: 1) comprobar que los datos facilitados son contrarios a la verdad y/o inexactos; 2) considere que la solicitud formulada: 2.1) no se ajusta a los términos recogidos en las Condiciones de Contratación y/o 2.2) dañe o pueda dañar la imagen corporativa de Aspen o fuese contraria a los propósitos comerciales perseguidos por la misma; y 3) tenga pendiente de pago algún Servicio contratado con anterioridad con Aspen.
              </h6>
             
            </div>
          </div>
        </div>

          <div class="row">
         <div class="large-12 small-6 columns">
             <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Derechos y Obligaciones (Aspen)<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>
                Derechos y Obligaciones (Aspen)<hr/></h4>
             
                <h6>Aspen esta en el derecho de:</h6>
                 <h6 class="subheader">
                  Cobrar al Cliente el precio por la prestación de los Servicios
                  Introducir cambios o mejoras tecnológicas en los Servicios, siempre y cuando, dicha mejoras no afecten negativamente al funcionamiento normal del sistema y del Cliente, ni obliguen a incrementar los precios pactados para los servicios contratados inicialmente.
                  Interrumpir los servicios para realizar todas aquellas tareas que entienda necesarias y/o convenientes con el fin de mejorar y/o reestructurar el sistema, así como para realizar operaciones de mantenimiento del Servicio. En este último caso, Aspen realizará un proceso: 1) para notificar al Cliente con antelación via correo electrónico de aquellos períodos de tiempo en los que se interrumpiese el Servicio del sistema y 2) para que tales interrupciones afecten de forma mínima al Cliente.
                  </h6>
                  
                

                <h6>Obligaciones</h6>
                  <h6 class="subheader">
                   Aspen se compromete 1) a prestar los Servicios contratados de acuerdo con los términos establecidos en las Condiciones de Contratación. 2) a garantizar la prestación de los Servicios de forma ininterrumpida las veinticuatro (24) horas al día durante todo los días del año, exceptuando los periodos programados de actualización del sistema y sus servicios.
                  
                    Aspen procurará facilitar al Cliente los Servicios, pero no será responsable de circunstancias o eventos que se encuentren fuera de su control, tales como la demora, la interrupción o el mal funcionamiento de los Servicios atribuibles a terceros operadores o compañías de servicios, falta de acceso a redes de terceros, actos u omisiones de las Autoridades Públicas o caso fortuito o fuerza mayor.
                  
                  
                      El Servicio de Atención al Cliente consiste en un servicio de asistencia on-line que comprende un servicio de diagnóstico y un servicio de resolución de incidencias. El Servicio de Atención al Cliente es un servicio que Aspen presta al Cliente por medio de su chat coorporativo o via correo electronico en aspen.abogados@gmail.com.
                  </h6>

             </div>
          </div>
        </div>

        <div class="row">
         <div class="large-12  small-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Derechos y Obligaciones (Cliente)<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Derechos y Obligaciones (Cliente)<hr/></h4>

              <h6 class="subheader"> 
               El Cliente tendrá derecho: 1) a utilizar el Servicio contratado en los términos y condiciones pactados y 2) a recibir información respecto del desarrollo y la implementación de funcionalidades nuevas y/o complementarias a los Servicios.
              </h6>
              <h6 class="subheader"> 
               El Cliente deberá; 1) Cumplir con las obligaciones de pago en los términos y condiciones acordados.
                2) colaborar de forma activa con Aspen para hacer posible la prestación de los Servicios, obligándose,
                3) a no utilizar los Servicios para la realización de actividades contrarias a las leyes, a la moral, al orden público ni a utilizar los Servicios con fines o efectos ilícitos, prohibidos, lesivos de derechos e intereses de terceros, declinando a Aspen de cualquier responsabilidad que de ello se pudieran derivar.
              </h6>
             
            </div>
          </div>
        </div>

         <div class="row">
         <div class="large-12 small-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Modificación<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Modificación<hr/></h4>

              <h6 class="subheader"> 
             Aspen se reserva la facultad de modificar o sustituir las presentes Condiciones de Contratación al vencimiento del contrato como consecuencia de la existencia de nuevas circunstancias económicas y/o comerciales que así lo aconsejen, así como por la modificación, evolución y promulgación de leyes, reglamentos y normas de aplicación a la prestación del Servicio y/o aspectos conexos a los mismos.
              </h6>
              
              
            </div>
          </div>
        </div>

        <div class="row">
         <div class="large-12 small-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:15px"></i>Régimen de responsabilidad<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i>Régimen de responsabilidad<hr/></h4>

              <h6 class="subheader"> 
             Aspen no será responsable de los problemas derivados de la falta de acceso o de los problemas inherentes a la conectividad a Internet o a las redes de electricidad cuando estas tuvieren su origen en causas ajenas a su control o a causas que no hubieran podido ser previstas por las Partes.

             Aspen no será responsable de la infromación o veracidad de la información contenida dentro del sistema, la cual fue ingresada y digitada por el cliente. la responsabilidad sobre la veracidad de los datos correrá unicamente por parte del cliente.              
              <br>
            </div>
          </div>
        </div>
      
    </div>
</div>
 
      <!-- End Header Content -->
        


 
   
  
  <hr class="margenesLinea"/>

   <!-- Thumbnails -->
 
       

<hr>
<div class="footer-azul">
   <%= render 'formSoftwareAbogados' %>
</div>

</body>


  <div id="modalLogin" class="reveal-modal small modalAspen">
   <div id="formularioSession"></div>
   <%= render 'formUsuarioSession' %>
  </div>

  <div id="modalsignup" class="reveal-modal small modalAspen">
    <div id="formularioUsuarios"></div>
    <%= render 'formNuevoDespacho' %>
  </div>
