<% if @contrato.errors.count == 0 %>
	document.getElementById("noticeMsg").innerHTML = "Se creo correctamente el contrato  <a href='#'' class='close'>&times;</a>";
	$("#noticeMsg").toggle( "fade" );
	$("#noticeMsgEliminar").hide();
	$('#formContrato').remove();
	$('#contratos').toggle( "fade" );
	$('#new_contrato_link').show();
	$('#listar_contratos_link').hide();
	$('#contrato_<%= @contrato.id %>').remove()
	$('#contratos').append('<%= j render("contrato", :contrato => @contrato) %>');
	document.getElementById("tituloContrato").innerHTML = "Contratos";

<% else %>

	$('#formContrato').remove();
	$('#formularioContratos').after('<%= j render("form") %>');
	$('#formContrato').toggle( "fade" );
	<% if @displaycamposOpcionalesContrato=="true" %>
		eventoCamposOpcionalesContrato();
	<% end %>
<% end %>
