document.getElementById("noticeMsg").innerHTML = "Se ha eliminado el participante <%= @participante.nombre %> <%= @participante.apellido %> <a href='#'' class='close'>&times;</a>";
$("#noticeMsg").toggle( "fade" );
$('#participante_<%= @participante.id %>').remove();