document.getElementById("noticeMsg").innerHTML = "Se ha eliminado el participante  <a href='#'' class='close'>&times;</a>";
$('#noticeMsg').show();
$('#participante_<%= @participante.id %>').remove()