<body>

    <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">
        
        <div class="sheet_body">
            
            
<div class="panellog">

<ul class="cbp_tmtimeline">

     <%= render @logs %> 

</ul>
   </div>       
          
        </div>
      </div>
    </div>
  </div>
 
</body>







