<div id="other_products">
  <div>
    <ul>

	    <li>
	      <a href="http://aspenforlawyer.com" target="_blanck">
	       <strong>Desarrollado por Eas Ltda, 2013 </strong>
			</a>      
		</li>
    </ul>
  </div>
</div>