


<div class="footer-bottom">
  <footer class="row">
    <div class="large-12 columns">
      
      <div class="row">
        <div class="large-6 columns">
          <p  class="letraTitulosMenuFooter">&copy; 2006–2013 Eas Ltda. Todos los derechos Reservados.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%=  link_to "Aspen - Funcionalidades", :funcionalidades , :class => "letraTitulosMenuFooter" %></li>
            <li><%=  link_to "Precios", :precios , :class => "letraTitulosMenuFooter" %></li>
            <li><a href="http://www.aspenforlawyer.com" class="letraTitulosMenuFooter">Eas Ltda</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>