<hr style="margin-top:60px" />
  <!-- Footer -->
<div>

  <footer class="row">
    <div class="large-12 columns">
      
      <div class="row">
        <div class="large-7 columns">
          <p  class="letraTitulosMenu">&copy; 2006–2013 Desarrollado por Eas Ltda. Todos los derechos Reservados.</p>
        </div>
        <div class="large-5 columns">
          <ul class="inline-list right">
            <li><a href="#" class="letraTitulosMenu">Ayuda</a></li>
            <li><%=  link_to "Planes y precios", :precios , :class => "letraTitulosMenu" %></li>
            <li><a href="http://aspenforlawyer.com" class="letraTitulosMenu">Eas Ltda</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<script>
   $(document).foundation('joyride', 'start');
</script>
  </div>