<header >
<nav class="">
    
     <!-- Header and Nav -->
  <div class="row">
    <div class="large-5 columns">
      <h5> <%= link_to :login do %> <img src="/img/aspen_logo_small.png"><%end%> 
      <!-- Formulario para nuevo registro -->
      <span class="tituloHome"> Gestión de procesos judiciales</span>
      </h5>
    </div>
    <div| class="large-7 columns">
      <ul class="inline-list right menubotonesHome">
        <li><a href="funcionalidades" class="letraTitulosMenu" >Aspen -Funcionalidades</a></li>
        <li><a href="precios" class="letraTitulosMenu" >Precios</a></li>
        <li><a href="#" class="letraTitulosMenu" data-reveal-id="modalsignup" >Registrate</a></li>
        <li><button class="tiny button radius" data-reveal-id="modalLogin">Iniciar Sesion</button></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- Header and Nav -->
</header>

