<header >
<nav class="">
    
    <div class="logo">
        <%= link_to '', :login %>
    </div>

    <div class="global_links">
        <a class="topnav_root"  href="#">Aspen</a>

        <a class="topnav_calendar"  href="#">Precios</a>
        <a class="topnav_everything"  href="#">Review</a>
        <a class="topnav_everyone"  href="#">Contactanos</a>
        
    </div>
    <div class="jumpto" >
       <button class="small button radius" data-reveal-id="modalLogin">Log in</button>
    </div> 

    
</nav>
</header>